<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ="/" method="GET"> 
        <div>
            <div class="login-bar">
                <i class="fas fa-envelope"></i>
                <input 
                    type="email" 
                    name="email" 
                    placeholder="E-MAIL" 
                    required
                />
            </div>

            <div class="login-bar">
                <i class="fas fa-lock"></i>
                <input 
                    type="password" 
                    name="pass" 
                    placeholder="PASSWORD" 
                    required
                />
            </div>  
            <div>     
                <input 
                    type="checkbox" 
                    value= "recordarme" 
                    name="recordarme" 
                /> 
            </div>

                <label for="recordarme">Recordarme</label>          
                
                <button type = "submit">¡SOY NUEVO!</button>
            
                <button type = "submit">INICIAR</button>
       
        </div>

</body>
</html>