<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>register</h4>
    <form action ="/" method="GET"> 
        <div>
            <div class="register-bar">
                <i class="fas fa-user"></i>
                <input 
                    type="text" 
                    name="name" 
                    placeholder="NOMBRE Y APELLIDO" 
                    required
                />
            </div>

            <div class="register-bar">
                <i class="fas fa-envelope"></i>
                <input 
                    type="email" 
                    name="email" 
                    placeholder="E-MAIL" 
                    required
                />
            </div>

            <div class="register-bar">
                <i class="fas fa-map-marker"></i>
                <input 
                    type="text" 
                    name="Domicilio" 
                    placeholder="DOMICILIO" 
                    required
                />
            </div>

            <div class="register-bar">
                <i class="fas fa-id-card"></i>
                <input 
                    type="number" 
                    name="documento" 
                    placeholder="DOCUMENTO DE INDENTIDAD" 
                    required
                />
            </div>

            <div class="register-bar">
                <i class="fas fa-phone-alt"></i>
                <input 
                    type="number" 
                    name="telefono" 
                    placeholder="TELÉFONO" 
                    required
                />
            </div>
            
            <div class="register-bar">
                <i class="fas fa-lock"></i>
                <input 
                    type="password" 
                    name="pass" 
                    placeholder="PASSWORD" 
                    required
                />
            </div>

            <div class="register-bar">
                <i class="fas fa-lock"></i>
                <input 
                    type="password" 
                    name="pass" 
                    placeholder="CONFIRMA PASSWORD" 
                    required
                />
            </div>

            <input 
                type="checkbox" 
                value= "recordarme" 
                name="recordarme" 
            /> 

            <button type = "submit">REGISTRARSE</button>

        </div>
    </form>
</body>
</html>