/*:::::::::::::::: REGLAS BASICAS ::::::::::::::::
--------------------------------------------------
Aca van los estilos correspondiente a layout básico
de la pagina. Como por ejemplo main, header,h1.. 
-------------------------------------------------*/



.form-login{
    background-color: #404040;
    padding: 5px;
    text-align: center;
}

.login-card {
    padding: 30px;
    min-width: 600px;
    margin: auto;
    border-radius: 20px;
    min-width: 300px;
    max-width: 600px;
    background-color: #b1976f;
}
.login-bar{
     width: 100%;
}
.login-bar__input {
    border-radius: 5px;
    padding-left: 5px;
    width: 90%;
    min-height: 60px;
    margin-bottom: 15px;
    font-size: 25px;
    border-style: none;
}

.checkbox-recordarme {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 25px;
}
.login-bar__checkbox {
    transform: scale(2);

}

.button-box{
    display: flex;
    padding: 20px;
    justify-content:center;
    text-align: right;
    width: 90%;
    align-items: baseline;
}

.button {
    border-radius: 5px;
    background-color: #404040;
    color: #FFFFFF;
    font-size: 18px;
    width: 60%;
    min-height: 60px;
    margin: 20px;

}
.link-register{
    min-height: 60px;
    font-size: 25px;
}

.fa-envelope, .fa-lock{
    color: white;
    font-size: 40px;
}


/*:::::::::::::::: ANIMACIONES ::::::::::::::::
--------------------------------------------------
Aca van los estilos correspondiente con Animaciones de
objetos. Ejemplo  hover, active
-------------------------------------------------*/


/*:::::::::::::::: MEDIAS QUERY ::::::::::::::::
--------------------------------------------------
Aca van los estilos correspondiente al comportamiento
de la pagina de acuerdo a la resolución
-------------------------------------------------*/

