/*:::::::::::::::: REGLAS BASICAS ::::::::::::::::
--------------------------------------------------
Aca van los estilos correspondiente a layout básico
de la pagina. Como por ejemplo main, header,h1.. 
-------------------------------------------------*/



.form-login{
    background-color: #b1976f;
    padding: 5px;
    text-align: center;
}

h1{
    color: #FFFFFF;
    font-style: italic;
}

.login-card {
    padding: 30px;
    width: 100%;
    margin: auto;
}

.login-bar {
    border-radius: 5px;
    padding-left: 5px;
    width: 90%;
    max-width: 300px;
    height: 30px;
    margin-bottom: 15px;
}

.checkbox-recordarme {
    text-align: justify;
    margin: 15px;
}

.button-box{
    display: flex;
    justify-content:space-around;
    text-align: right;
    width: 90%;
}

.button {
    border-radius: 5px;
    background-color: #404040;
    color: #FFFFFF;
    font-size: 18px;
    width: 40%;
    padding: 0%;
}
.link-register{
    font-size: 18px;
}


/*:::::::::::::::: ANIMACIONES ::::::::::::::::
--------------------------------------------------
Aca van los estilos correspondiente con Animaciones de
objetos. Ejemplo  hover, active
-------------------------------------------------*/


/*:::::::::::::::: MEDIAS QUERY ::::::::::::::::
--------------------------------------------------
Aca van los estilos correspondiente al comportamiento
de la pagina de acuerdo a la resolución
-------------------------------------------------*/

/*tablet*/
@media (min-width: 768px) {
    
    .form-login{
        background-color: #404040;
    }

    .login-card {
        padding: 30px;
        background-color: #b1976f;
        border: #404040 solid 3px;
        width: 40%;
        margin: auto;
    }

}

@media (min-width: 1000px) {
  

    .login-card {
        padding: 30px;
        background-color: #b1976f;
        width: 40%;
        margin: auto;
    }
}